@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.timeline-section{
	/* background-color: #24292d; */
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	/* background-color: #eaa023; */
	background-color: black;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	/* color: #eaa023; */
	color: black;
	margin:6px 0 15px;
}
.timeline-content{
    /* background-color: #2f363e; */
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	/* color: #ffffff; */
	color: black;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    /* color: #c8c8c8; */
	color: black;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}


/* CSS for typewriter animation */

#cursor{
	color: #105cd4;
	animation: blink 1s linear infinite;
}

#typewrite {
	color: aqua;
	font-weight: bold;
}

@keyframes blink {

	0% {
		opacity: 100%;
	}

	50% {
		opacity: 0%;
	}
}


/* CSS for full section div */
/* Too be honest i personally like it, but it just feels very user unfriendly... */
/* but if you were ever curious on how to implement it */
/* just nest everything in a big section put class as "lock"  */
/* then let our child's parent div have a class of "slides" */

/* .lock {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.slides {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:50px;
	scroll-snap-align:start;
} */


/* CSS for more scroll animations */
.hidden {
	opacity: 0;
	transform: translateX(-100%);
	transition: all 1s;
}

div > .hidden:nth-child(even) {
	/* opacity: 0;  */
	transform: translate(100%);
	transition: all 1s;
	/* background-color: aqua; */
}

@media (prefers-reduced-motion){
	.hidden{
		transition: none;
	}
}

.show {
	opacity: 1;
	transform: translateX(0);
}


div > .show:nth-child(even) {
	opacity: 1;
	transform: translateX(0);
}




